body{
  margin-top:70px;
  font-size:16px;
  font-family: 'Poppins', sans-serif;
}
/* Navbar section */
.navbar-default {
  background: #fff;
  border: 0;
  font-family: 'Poppins', sans-serif;
}
.navbar-brand{
  font-size:20px;
  color:#000;
  font-weight:bold;
}
#pic {
  width:100%;
  height:685px;
}
/* Carousel section */
.carousel-indicators li {
  background-color: white !important;
  border-color: white !important;
}
.carousel-caption {
  padding-bottom: 540px;
}
#suptempo {
  width:567px;
  height:391px;
  padding-right: 0px;
}
.shoe-pic-container {
  margin-top: 20px;
  padding: 0;
}
/* Pictures of the first section */
.four-pic-1 {
  width:280px;
  height:193px;
}
.four-pic-2 {
  width:280px;
  height:193px;
  margin-left: 140px;
}
.four-pic-3 {
  width:280px;
  height:193px;
  margin-top: 5px;
}
.four-pic-4 {
  width:280px;
  height:193px;
  margin-left: 140px;
  margin-top: 5px;
}
/* Hover section */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 567px;
  opacity: 0;
  transition: .5s ease;
  background-color: #ff9100;
}
.shoe-pic-container:hover .overlay {
  opacity: 0.8;
}
.text {
  color: white;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/* Pictures of the second section */
.two-pic-1 {
  width:280px;
  height:193px;
  margin-left: -14px;
}
.two-pic-2 {
  width:280px;
  height:193px;
  margin-left: 125px;
}
.two-pic-3 {
  width:280px;
  height:193px;
  margin-top: 5px;
  margin-left: -14px;
}
.two-pic-4 {
  width:280px;
  height:193px;
  margin-left: 125px;
  margin-top: 5px;
}
.navbar-bottom {
  margin-top: 20px;
  background: #fff;
  border: 0;
}
.btn-danger {
  font-family: 'Poppins', sans-serif;
  color: grey;
}
.navbar-btn {
  background-color: white;
  border-color: none;
  border-style: none;
}
.navbar-btn:hover {
  background-color: #ff9100;
}
.text a {
  color: White;
}
